*{
    margin: 0;
    padding: 0%;
}

header{
    background-color: #000093;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: 'Quicksand', sans-serif;
}

.colégio-imagem{
    width: 200px;
}

.colégio{
     background-image: linear-gradient(#000093,#d4dcdd);
     color: white;
}
